name: Build and tests our Eshop

on:
  workflow_dispatch:

jobs: 
  # Install all dependencies
  Install:
    runs-on: ubuntu-latest

    steps: 
      - name: Git Checkout
        uses: actions/checkout@v2.4.0
        with:
          token:  ${{ secrets.WORKFLOW_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 10

      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: node_modules-

      - name: Install with npm
        run: npm ci

  Build: 
    needs: Install 
    runs-on: ubuntu-latest

    steps: 
      - name: Git Checkout
        uses: actions/checkout@v2.4.0
        with:
            token:  ${{ secrets.WORKFLOW_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 10

      - name: Cache node modules
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: actions/cache@v2
        with:
          path: |
          ~/.npm
          ./node_modules
          ./build
        key: ${{ runner.os }}-build-${{ github.run_id }}
        restore-keys: ${{ runner.os }}-build-${{ github.run_id }}
          
      - name: build
        run: |
          npm rebuild node-sass --force
          npm run build -- --colors

        

  Test: 
      needs: Install 
      runs-on: ubuntu-latest

      steps: 
        - name: Git Checkout
          uses: actions/checkout@v2.4.0
          with:
              token:  ${{ secrets.WORKFLOW_TOKEN }}

        - name: Setup Node
          uses: actions/setup-node@v2.4.1
          with:
            node-version: 10

        - name: Cache node modules
          uses: actions/cache@v2
          with:
            path: node_modules
            key: node_modules-${{ hashFiles('**/package-lock.json') }}
            
        - name: Run unit tests
          run: |
            npm run test -- --colors

  Deploy:
      needs: [Build, Test]
      runs-on: ubuntu-latest
      if: ${{ github.ref == 'refs/heads/master' }}

      steps: 
        - name: Git Checkout
          uses: actions/checkout@v2.4.0
          with:
              token:  ${{ secrets.WORKFLOW_TOKEN }}

       - name: Cache node modules
         uses: actions/cache@v2
         with:
          path: |
          ~/.npm
          ./node_modules
          ./build
        key: ${{ runner.os }}-build-${{ github.run_id }}

       - name: Deploy to firebase
          run: ./node_modules/.bin/firebase deploy --token=${{ secrets.FIREBASE_TOKEN }}